
/Workspace/GameAffinityGen/.vs
/Workspace/GameAffinityGen/InitializeDB/obj
/Workspace/GameAffinityGen/GameAffinityGen.ApplicationCore/obj
/Workspace/GameAffinityGen/GameAffinityGen.ApplicationCore/bin/Debug
/Workspace/GameAffinityGen/GameAffinityGen.ApplicationCore/obj/Debug
/Workspace/GameAffinityGen/GameAffinityGen.Infraestructure/bin/Debug
/Workspace/GameAffinityGen/InitializeDB/bin/Debug
/Workspace/GameAffinityGen/InitializeDB/bin
/Workspace/.metadata
/Workspace/GameAffinityGen/GameAffinityGen.Infraestructure/obj
/Workspace/GameAffinityGen/GameAffinityGen.Infraestructure/obj
Workspace/GameAffinityGen/GameAffinityGen.Infraestructure/obj/Debug/net8.0/GameAffinityGen.Infraestructure.AssemblyInfo.cs
Workspace/GameAffinityGen/GameAffinityGen.Infraestructure/obj/Debug/net8.0/GameAffinityGen.Infraestructure.AssemblyInfoInputs.cache
Workspace/GameAffinityGen/GameAffinityGen.Infraestructure/obj/Debug/net8.0/GameAffinityGen.Infraestructure.assets.cache
Workspace/GameAffinityGen/GameAffinityGen.Infraestructure/obj/Debug/net8.0/GameAffinityGen.Infraestructure.csproj.AssemblyReference.cache
Workspace/GameAffinityGen/GameAffinityGen.Infraestructure/obj/Debug/net8.0/GameAffinityGen.Infraestructure.GeneratedMSBuildEditorConfig.editorconfig
/Workspace/GameAffinityGen/GameAffinityGen.ApplicationCore/bin/Debug
/Workspace/GameAffinityGen/GameAffinityGen.ApplicationCore/bin
