
/Workspace/GameAffinityGen/.vs
/Workspace/GameAffinityGen/InitializeDB/obj
/Workspace/GameAffinityGen/GameAffinityGen.ApplicationCore/obj
/Workspace/GameAffinityGen/GameAffinityGen.ApplicationCore/bin/Debug
/Workspace/GameAffinityGen/GameAffinityGen.ApplicationCore/obj/Debug
/Workspace/GameAffinityGen/GameAffinityGen.Infraestructure/bin/Debug
/Workspace/GameAffinityGen/InitializeDB/bin/Debug
/Workspace/GameAffinityGen/InitializeDB/bin
/Workspace/.metadata
/Workspace/GameAffinityGen/GameAffinityGen.Infraestructure/obj
/Workspace/GameAffinityGen/GameAffinityGen.Infraestructure/obj
Workspace/GameAffinityGen/GameAffinityGen.Infraestructure/obj/Debug/net8.0/GameAffinityGen.Infraestructure.AssemblyInfo.cs
Workspace/GameAffinityGen/GameAffinityGen.Infraestructure/obj/Debug/net8.0/GameAffinityGen.Infraestructure.AssemblyInfoInputs.cache
Workspace/GameAffinityGen/GameAffinityGen.Infraestructure/obj/Debug/net8.0/GameAffinityGen.Infraestructure.assets.cache
Workspace/GameAffinityGen/GameAffinityGen.Infraestructure/obj/Debug/net8.0/GameAffinityGen.Infraestructure.csproj.AssemblyReference.cache
Workspace/GameAffinityGen/GameAffinityGen.Infraestructure/obj/Debug/net8.0/GameAffinityGen.Infraestructure.GeneratedMSBuildEditorConfig.editorconfig
/Workspace/GameAffinityGen/GameAffinityGen.ApplicationCore/bin/Debug
/Workspace/GameAffinityGen/GameAffinityGen.ApplicationCore/bin
/Workspace/GameAffinityGen/Web_GameAffinity/obj/Debug
/Workspace/GameAffinityGen/GameAffinityGen.Infraestructure/obj
Workspace/GameAffinityGen/Web_GameAffinity/obj/Web_GameAffinity.csproj.nuget.g.props
Workspace/GameAffinityGen/Web_GameAffinity/obj/Web_GameAffinity.csproj.nuget.dgspec.json
Workspace/GameAffinityGen/Web_GameAffinity/obj/project.nuget.cache
Workspace/GameAffinityGen/Web_GameAffinity/obj/project.assets.json
Workspace/GameAffinityGen/Web_GameAffinity/obj/Debug/net8.0/Web_GameAffinity.GeneratedMSBuildEditorConfig.editorconfig
Workspace/GameAffinityGen/Web_GameAffinity/obj/Debug/net8.0/Web_GameAffinity.csproj.AssemblyReference.cache
Workspace/GameAffinityGen/Web_GameAffinity/obj/Debug/net8.0/Web_GameAffinity.assets.cache
Workspace/GameAffinityGen/Web_GameAffinity/obj/Debug/net8.0/Web_GameAffinity.AssemblyInfoInputs.cache
Workspace/GameAffinityGen/Web_GameAffinity/obj/Debug/net8.0/Web_GameAffinity.AssemblyInfo.cs
Workspace/GameAffinityGen/GameAffinityGen.Infraestructure/obj/project.nuget.cache
Workspace/GameAffinityGen/GameAffinityGen.Infraestructure/obj/project.assets.json
Workspace/GameAffinityGen/GameAffinityGen.Infraestructure/obj/GameAffinityGen.Infraestructure.csproj.nuget.g.props
Workspace/GameAffinityGen/GameAffinityGen.Infraestructure/obj/GameAffinityGen.Infraestructure.csproj.nuget.dgspec.json
Workspace/GameAffinityGen/GameAffinityGen.Infraestructure/obj/Debug/net8.0/GameAffinityGen.Infraestructure.GeneratedMSBuildEditorConfig.editorconfig
Workspace/GameAffinityGen/GameAffinityGen.Infraestructure/obj/Debug/net8.0/GameAffinityGen.Infraestructure.csproj.AssemblyReference.cache
Workspace/GameAffinityGen/GameAffinityGen.Infraestructure/obj/Debug/net8.0/GameAffinityGen.Infraestructure.assets.cache
Workspace/GameAffinityGen/GameAffinityGen.Infraestructure/obj/Debug/net8.0/GameAffinityGen.Infraestructure.AssemblyInfoInputs.cache
Workspace/GameAffinityGen/GameAffinityGen.Infraestructure/obj/Debug/net8.0/GameAffinityGen.Infraestructure.AssemblyInfo.cs
