
/Workspace/GameAffinityGen/.vs
/Workspace/GameAffinityGen/InitializeDB/obj
/Workspace/GameAffinityGen/GameAffinityGen.ApplicationCore/obj
/Workspace/GameAffinityGen/GameAffinityGen.ApplicationCore/bin/Debug
/Workspace/GameAffinityGen/GameAffinityGen.ApplicationCore/obj/Debug
/Workspace/GameAffinityGen/GameAffinityGen.Infraestructure/bin/Debug
/Workspace/GameAffinityGen/InitializeDB/bin/Debug
/Workspace/GameAffinityGen/InitializeDB/bin
/Workspace/.metadata
