<!-- Obtenemos referencia a los videojuegos -->
@model Web_GameAffinity.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<section class="row">
    <h1>Últimas novedades</h1>
    <div class="videogameList row">
        @foreach (var item in Model.UltimasNovedades)
        {
            @Html.Partial("videojuegoCard", item)
        }
    </div>
</section>
<section class="row">
    <h1>Próximos lanzamientos</h1>
    <div class="videogameList row">
        @foreach (var item in Model.ProximosLanzamientos)
        {
            @Html.Partial("videojuegoCard", item)
        }
    </div>
</section>
<section class="row">
    <h1>Mejor puntuados</h1>
    <div class="videogameList row">
        @foreach (var item in Model.Popular)
        {
            @Html.Partial("videojuegoCard", item)
        }
    </div>
</section>