<!-- Obtenemos referencia a los videojuegos -->
@model IEnumerable<GameAffinityGen.ApplicationCore.EN.GameAffinity.VideojuegoEN>
@{
    ViewData["Title"] = "Home Page";
}

<section class="row">
    <h1>Últimas novedades</h1>

    <div class="videogameList row">
    @for (int i = 0; i < 20; i++)
    {
        <div class="col-4 col-md-3 col-lg-2 videogame">
            <section class="videogameScore"><span class="score">9.9</span></section>
            <img src="https://s01.riotpixels.net/data/b5/de/b5de7a3a-dbf1-4d43-8e52-811db4b4c400.jpg.240p.jpg" class="videogameImage" />
            <span class="videogameName">Elden Ring</span>
        </div>
    }
    </div>
</section>

