@import 'videogame.css';

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
  background: var(--ga-white);

}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

:root {
    --ga-dark-blue: #21294F;
    --ga-blue: #4d53A0;
    --ga-light-blue: #7BB5EF;
    --ga-yellow: #FFC860;
    --ga-white: #F5F5F5;
}