@model IList<GameAffinityGen.ApplicationCore.EN.GameAffinity.IndividuoEN>

<div class="videogameList row">
    @foreach (var item in Model)
    {
        @Html.Partial("individuoCard", item)
    }
</div>