@model GameAffinityGen.ApplicationCore.EN.GameAffinity.VideojuegoEN

<a class="col-6 col-md-6 col-lg-3 videogame" asp-action="Details" asp-controller="Videojuego" asp-route-id="@Model.Id">
    <section class="videogameScore">
        <span class="score">@Html.DisplayFor(modelItem => Model.Nota_media)</span>
    </section>
        <img src=@Model.Imagen class="videogameImage" onerror="this.src='/Images/missing_img.jpg';" />  
    <span class="videogameName">
        @Html.DisplayFor(modelItem => Model.Nombre)
    </span>
</a>
