@model IList<GameAffinityGen.ApplicationCore.EN.GameAffinity.VideojuegoEN>

<div class="videogameList row">
    @foreach (var item in Model)
    {
        @Html.Partial("videojuegoCard", item)
    }
</div>